.background {
  background: linear-gradient(to left, #00bf8f, #135058)
}

.logo {
//  background-image: url(logo.png);
  font-size: 60px !important;
  font-weight: 800;
  white-space: pre;
}

.logo:after {
  content: "\a Cast Live Tv/Video/Audio to Chromecast";
  font-size: 32px;
  padding: 15px;
  color: #ffffff;
}

.progressBar {
  background-color: rgb(30, 215, 96);
}

.splash {
  background-image: url(splash.png);
  background-size: contain;
  background-blend-mode: overlay;
}

.watermark {
  background-image: url(watermark.png);
  background-size: 100px 60px;
}
