.background {
  background: center no-repeat url(background.jpg);
  background-size: contain;
}

.logo {
  background-image: url(logo.png);
  background-size: contain;
}

.progressBar {
  background-color: rgb(30, 215, 96);
}

.splash {
  background-image: url(splash.png);
  background-size: contain;
  background-blend-mode: overlay;
}

.watermark {
  background-image: url(watermark.png);
  background-size: contain;
  background-size: 100px 60px;
}
